
<h1><%= article.title %></h1>
<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>
<p><%= article.content %></p>
<hr />
<form action="/articles/:id" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <textarea type="text" class="form-control" id="name" name="name" required></textarea>
  </div>
<form action="/articles/:id" method="POST">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
<hr />

<a href="/">&larr; Back Home</a>
