
<h1><%= article.title %></h1>
<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>
<p><%= article.content %></p>
<hr />
<form action="/articles/:id" method="POST">
<div class="form-group">
  <label for="commentLink">Write a comment</label>
  <input type="text" class="form-control" id="comment" name="comment" required>
</div>
<input type="submit" class="btn btn-primary">
</form>
<hr />

<a href="/">&larr; Back Home</a>
